@font-face {
    font-family: "iraniFont";
    src: url(iranyekanwebbold.ttf);
}

@font-face {
    font-family: "englishFont";
    src: url(Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    font-family: "iraniFont";
}

/*utilities*/
.lh-2 {
    line-height: 2;
}

.lh-25 {
    line-height: 2.5;
}

.lh-17 {
    line-height: 1.7;
}

.lh-15 {
    line-height: 1.5;
}

.lh-12 {
    line-height: 1.2;
}

.lh-1 {
    line-height: 1;
}

.font-size-small {
    font-size: 17px;
}

.font-size-medium {
    font-size: 20px;
}

.font-size-large {
    font-size: 40px;
}

.font-size-xlarge {
    font-size: 70px;
}

/*end of utilities*/



header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header .navbar {
    background-image: linear-gradient(rgba(0, 0, 0, .6));
    z-index: 1;
}

header .nav-item {
    transition: padding 500ms;
}

header .nav-link {
    transition: color 200ms, transform 200ms;
}

header .nav-link:hover {
    transform: scale(1.02, 1.02);
}

.navbar-toggler {
    border: 1px solid rgba(255, 255, 255, .5) !important;
    outline: none !important;
    transition: box-shadow 250ms;
}

.navbar-toggler:active {
    box-shadow: 0 0 15px rgba(255, 255, 255, .65);
}

.title-box {
    position: relative;
    top: 150px;
    padding: 0;
    margin: 0;
    /* padding-top: 150px; */
}

.site-title {
    font-family: "englishFont";
    font-weight: 900;
    animation: title-fade-animation 1.5s 1 forwards;
    z-index: 0;
}

.site-sub-title {
    font-family: "englishFont";
    font-weight: 700;
    opacity: 0;
    animation: title-fade-animation 1.5s 1s 1 forwards;
    z-index: 0;
}

.gym-info,
.couchs-slider {
    background-color: rgba(21, 31, 32);
}

.gym-info>h3,
.gym-info-features>h3,
.couchs-slider>h3 {
    font-size: 40px;
    border-bottom: 5px solid white;
}

.gym-info .card,
.gym-info .card-body,
.gym-info .card-header {
    background-color: inherit;
    outline: none;
    border: none;
}

.gym-info img {
    animation: title-fade-animation 3s 1 forwards;
}

.gym-info-features .card {
    box-shadow: 0 0 15px rgba(0, 0, 0, .7);
}

.gym-info-features .card-img-overlay {
    font-size: 20px;
    opacity: .75;
    transition: opacity 200ms;
}

.gym-info-features .card-img-overlay:hover {
    opacity: 1;
}

.photos-gallery h3,
.plans>h3 {
    border-bottom: 5px solid;
}

.breadcrumb-item::before {
    padding: 0;
    margin: 0 2vw;
}

.breadcrumb-item a:hover {
    text-decoration: none;
}

#gallery-collapses img {
    height: 25vh;
}

.plans .card-img-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .75));
    color: rgba(255, 255, 255, 1);
}

.card-img-overlay .list-group-item {
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
}

.plans .card {
    box-shadow: 0 0 15px rgba(0, 0, 0, .8);
    border: none;

}

.plans .card,
.plans .card-img-overlay,
.plans .card-img {
    max-height: 510px;
}

.register-form {
    background-image: url(images/contact.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.register-form .form-container {
    background-color: rgba(21, 31, 32, .7);
    clip-path: polygon(0 0,
            90% 0,
            80% 100%,
            0 100%);
}

.register-form input[type="email"],
.register-form input[type="text"] {
    outline: none;
    border: none;
    border-bottom: 3px solid white;
    border-radius: 0;
    box-shadow: none !important;
    transition: border 300ms;
}

.register-form input[type="email"]:focus,
.register-form input[type="text"]:focus {
    border-bottom: 3px solid rgb(255, 64, 0);
}

footer .nav-link {
    color: white !important;
    transition: 200ms color;
}

footer .nav-link:hover {
    color: rgb(91, 200, 255) !important;
}

.fa-instagram {
    color: rgb(255, 192, 242);
}



@keyframes title-fade-animation {
    0% {
        opacity: 0;
        transform: translateX(-4vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@media screen and (max-width:768px) {

    .site-title {
        font-size: 10vw !important;
        font-family: "englishFont";
        font-weight: 900;
        transform: scaleY(1.25) !important;
        animation: title-fade-animation 1.5s 1 forwards;
    }

    .site-sub-title {
        font-size: 10vw !important;
        font-family: "englishFont";
        font-weight: 700;
        opacity: 0;
        animation: title-fade-animation 1.5s 1s 1 forwards;
    }

    .breadcrumb-item::before {
        margin: 0 10px;
    }

    #gallery-collapses img {
        height: 280px;
    }

    .breadcrumb-item::before {
        padding: 0;
        margin-right: .25vw;
    }

}

@media screen and (max-width:992px) {


    #gallery-collapses img {
        height: 280px;
    }

    .register-form .form-container {
        background-color: rgba(21, 31, 32, .7);
        clip-path: none;
    }

}